<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid" ng-controller="NavbarCtrl">

    <button ng-click="editProduct()" class="btn btn-warning btn-lg pull-right"
            ng-show="!editing && isLoggedIn()">
        <span class="fa fa-edit fa-2"></span> Edit
    </button>
    <button ng-click="doneEdit()" class="btn btn-primary btn-lg pull-right"
            ng-show="editing && isLoggedIn()">
        <span class="fa fa-check-circle fa-2"></span> Done
    </button>
    <div class="container " ng-controller="NavbarCtrl">
        <div class="hero-unit">
            <h1 style="text-align: center; color: #ffffff">Welcome to AM Insurance</h1>
        </div>

    </div>
    <div class="col-md-12">
        <h3 class="page-header"></h3>

        <div class="row">
            <div class="col-md-6 " ng-repeat="thing in awesomeThings">
                <div class="well">
                    <div ng-show="editing" class="name">
                    <span editable-text="thing.name" e-name="name"
                          onaftersave="updateName(thing)">{{thing.name}}<br/></span>

                    <span editable-textarea="thing.info" e-name="info" class="info"
                          onaftersave="updateName(thing)">{{thing.info}}</span>
                    </div>
                    <div ng-hide="editing" class="name">
                        <span>{{thing.name}}</span>
                        <span>{{thing.info}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<footer class="footer" style="background-color: #2fa4e7; color: #ffffff">
    <div class="container">
        <h4 style="color: #ffffff">Dedicated 24-hours Kurnia Auto Assist customer support line 1-800-88-3833</h4>
        <p>(Foot Note information stating all products are underwritten by AmGeneral, agent name, address and contact information. Operational hours)</p>
    </div>
</footer>
